name: Rufus
logo: https://rufus.ie/pics/rufus-128.png
author: Pete Batard <pete@akeo.ie>
description: Rufus 是一款格式化和创建 USB 启动盘的辅助工具。
category: tools
platform: windows
homepage: https://rufus.ie
version: '4.13'
url:
  - https://github.com/pbatard/rufus/releases/download/v4.13/rufus-4.13p.exe
  - https://github.com/pbatard/rufus/releases/download/v4.13/rufus-4.13.exe
  - https://github.com/pbatard/rufus/releases/download/v4.13/rufus-4.13_x86.exe
  - https://github.com/pbatard/rufus/releases/download/v4.13/rufus-4.13_arm.exe
  - https://github.com/pbatard/rufus/releases/download/v4.13/rufus-4.13_arm64.exe
script:
  args:
    url: github://pbatard/rufus
    autoupdate:
      - https://github.com/pbatard/rufus/releases/download/v${version}/rufus-${version}p.exe
      - https://github.com/pbatard/rufus/releases/download/v${version}/rufus-${version}.exe
      - https://github.com/pbatard/rufus/releases/download/v${version}/rufus-${version}_x86.exe
      - https://github.com/pbatard/rufus/releases/download/v${version}/rufus-${version}_arm.exe
      - https://github.com/pbatard/rufus/releases/download/v${version}/rufus-${version}_arm64.exe
  name: appfork-check-update
