author: MetaCubeX
name: Mihomo (Prerelease-Alpha)
logo: https://raw.githubusercontent.com/MetaCubeX/mihomo/Alpha/Meta.png
description: Clash.Meta Kernel, Another Mihomo Kernel
category: network
platform: windows
homepage: https://github.com/MetaCubeX/mihomo
version: alpha-e6c0e3b
url:
- https://github.com/MetaCubeX/mihomo/releases/download/Prerelease-Alpha/mihomo-windows-amd64-alpha-e6c0e3b.zip
- https://github.com/MetaCubeX/mihomo/releases/download/Prerelease-Alpha/mihomo-windows-amd64-compatible-alpha-e6c0e3b.zip
- https://github.com/MetaCubeX/mihomo/releases/download/Prerelease-Alpha/mihomo-windows-arm64-alpha-e6c0e3b.zip
script:
  args:
    regex: (?<version>(?i)alpha-[a-f0-9]+)
    autoupdate:
    - https://github.com/MetaCubeX/mihomo/releases/download/Prerelease-Alpha/mihomo-windows-amd64-${version}.zip
    - https://github.com/MetaCubeX/mihomo/releases/download/Prerelease-Alpha/mihomo-windows-amd64-compatible-${version}.zip
    - https://github.com/MetaCubeX/mihomo/releases/download/Prerelease-Alpha/mihomo-windows-arm64-${version}.zip
    url: https://github.com/MetaCubeX/mihomo/releases/download/Prerelease-Alpha/version.txt
  name: appfork-check-update
